VITE_ADI_RPC_URL=https://rpc.ab.testnet.adifoundation.ai/
VITE_CHAIN_ID=99999
VITE_CHAIN_NAME=ADI Testnet
VITE_CHAIN_SYMBOL=ADI
VITE_CHAIN_DECIMALS=18
VITE_ISSUANCE_REGISTRY=
VITE_PAYMENT_REGISTRY=
VITE_POLICY_REGISTRY=
VITE_ENGINE=
VITE_RWA_TOKEN=
VITE_CONFIDENTIAL_SETTLEMENT=
VITE_SP1_VERIFIER=
VITE_INDEXER_GRAPHQL_URL=http://127.0.0.1:8081/v1/graphql
VITE_WORKER_API_URL=http://127.0.0.1:8787
VITE_HASURA_ADMIN_SECRET=testing
VITE_EXPLORER_BASE_URL=
